<app-header></app-header>

<div class="form__container">
  <form [formGroup]="this.authService.form">
    <div class="form-group">
      <span>Dark: </span>
      <select class="form-field" id="selectDark" formControlName="selectDark">
        <option value="" selected disabled hidden>Select Dark</option>
        <option class="form-option" value="yes">yes</option>
        <option class="form-option" value="no">no</option>
      </select>
    </div>
    <div class="form-group">
      <span>Date: </span>
      <input class="form-field" placeholder="Date" formControlName="date" type="date">
    </div>
    <div class="form-group">
      <span>File: </span>
      <input class="form-field" type="file" (change)="upload($event)" accept=".png,.jpg" />
    </div>
    <div class="form-group" style="display: none;">
      <span>Img: </span>
      <input class="form-field" placeholder="Image" formControlName="img" type="text">
    </div>
    <div style="font-size: 0.1px;" *ngIf="downloadURL | async; let downloadSrc">
      <a style="text-decoration: none; color: white;" [href]="downloadSrc" #myDiv>{{downloadSrc}}</a>
    </div>
    <div class="form-group">
      <span>Nome: </span>
      <input class="form-field" placeholder="Nome" formControlName="nome" type="text">
    </div>
    <div class="form-group">
      <span>urlGit: </span>
      <input class="form-field" placeholder="UrlGit" formControlName="urlGit" type="text">
    </div>
    <div class="form-group">
      <span>urlSite: </span>
      <input class="form-field" placeholder="UrlSite" formControlName="urlSite" type="text">
    </div>
    <button style="margin-top: 10px;" class="button__submit" [disabled]="this.authService.form.invalid" (click)="onSubmit()">
      Invia
    </button>
  </form>
</div>


<div id="modal__success__container">
  <div id="modal__success">
    <span style="display: flex; justify-content: center; width: 100%;">Card Creata Correttamente</span>
  </div>
</div>
