<app-header></app-header>

<div class="form__container">
  <form [formGroup]="this.authService.form">
    <div class="form-group">
      <span>Dark: </span>
      <input class="form-field" type="text" placeholder="dark" formControlName="dark">
    </div>
    <div class="form-group">
      <span>Date: </span>
      <input class="form-field" placeholder="date" formControlName="date" type="date">
    </div>
    <div class="form-group">
      <span>File: </span>
      <input class="form-field" type="file" (change)="upload($event)" accept=".png,.jpg" />
    </div>
    <div class="form-group" style="display: none;">
      <span>Img: </span>
      <input class="form-field" placeholder="img" formControlName="img" type="text">
    </div>
    <div style="font-size: 0.1px;" *ngIf="downloadURL | async; let downloadSrc">
      <a style="text-decoration: none; color: white;" [href]="downloadSrc" #myDiv>{{downloadSrc}}</a>
    </div>
    <div class="form-group">
      <span>Nome: </span>
      <input class="form-field" placeholder="nome" formControlName="nome" type="text">
    </div>
    <div class="form-group">
      <span>urlGit: </span>
      <input class="form-field" placeholder="urlGit" formControlName="urlGit" type="text">
    </div>
    <div class="form-group">
      <span>urlSite: </span>
      <input class="form-field" placeholder="urlSite" formControlName="urlSite" type="text">
    </div>
    <button style="margin-top: 10px;" class="button__submit" (click)="onSubmit()">
      Invia
    </button>
  </form>
</div>
