<!-- Header -->
<div class="header__container">
  <div class="header__items">
    <div class="header__logo">
      <a>LOGO</a>
      <div class="header__item">
        <a href="/dashboard" class="item">Home</a>
        <a href="#" class="item">User</a>
        <a (click)="logout()" class="item">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Card -->
<div class="card__container">
  <div class="card">
    <a href="https://angular-card-component-five.vercel.app/" target="_blank">
      <div class="one">
        <a href="https://github.com/John9927/AngularCardComponent" target="_blank">
          <div class="card__container__git__hub">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </div>
        </a>
      </div>
      <div class="card__label">
        <span>Angular Card Component</span>
      </div>
    </a>
  </div>
  <div class="card">
    <a href="https://angular-card-component-five.vercel.app/" target="_blank">
      <div class="two">
        <a href="https://github.com/John9927/AngularCardComponent" target="_blank">
          <div class="card__container__git__hub">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </div>
        </a>
      </div>
      <div class="card__label">
        <span>Angular Card Component</span>
      </div>
    </a>
  </div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>

</div>
