<!-- Header -->
<div class="header__container">
  <div class="header__items">
    <div class="header__logo">
      <a>LOGO</a>
      <div class="header__item">
        <a href="/dashboard" class="item">Home</a>
        <a href="/projects" class="item">Projects</a>
        <a href="#" class="item">User</a>
        <a (click)="logout()" class="item">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Card -->
<div class="card__container">
  <div style="display: flex;">
    <div class="card"></div>
    <div class="card"></div>

  </div>

</div>

