<!-- Header -->
<app-header></app-header>

<!-- Card -->
<div class="card__container">
  <div class="card" appOrdering order="2021-04-07">
    <a href="https://angular-card-component-five.vercel.app/" target="_blank">
      <div class="one">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/AngularCardComponent" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          07-04-2021
        </div>
      </div>
      <div class="card__label">
        <span>Angular Card Component</span>
      </div>
    </a>
  </div>
  <div class="card" appOrdering order="2021-03-19">
    <a href="https://grid-angular.vercel.app/" target="_blank">
      <div class="two">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/grid-angular" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          19-03-2021
        </div>
      </div>
      <div class="card__label">
        <span>Grid Angular</span>
      </div>
    </a>
  </div>
  <div class="card" appOrdering order="2021-04-09">
    <a href="https://profile-card-woad-chi.vercel.app/" target="_blank">
      <div class="three">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/profileCard" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          09-04-2021
        </div>
      </div>
      <div class="card__label">
        <span>Profile Card</span>
      </div>
    </a>
  </div>
  <div class="card" appOrdering order="2021-04-08">
    <a href="https://angular-launch-countdown.vercel.app/" target="_blank">
      <div class="four">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/angular-launch-countdown" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          08-04-2021
        </div>
      </div>
      <div class="card__label">
        <span>Angular Launch Countdown</span>
      </div>
    </a>
  </div>
  <div class="card" appOrdering order="2021-04-02">
    <a href="https://room-homepage-angular.vercel.app/" target="_blank">
      <div class="five">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/room-homepage-angular" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          02-04-2021
        </div>
      </div>
      <div class="card__label">
        <span>Room HomePage Angular</span>
      </div>
    </a>
  </div>
  <div class="card" appOrdering order="2021-03-31">
    <a href="https://pricing-angular.vercel.app/" target="_blank">
      <div class="six">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/pricing-angular" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          31-03-2021
        </div>
      </div>
      <div class="card__label">
        <span>Pricing Angular</span>
      </div>
    </a>
  </div>
  <div class="card" appOrdering order="2021-03-29">
    <a href="https://theme-switch-angular.vercel.app/" target="_blank">
      <div class="seven">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/theme-switch-angular/" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          29-03-2021
        </div>
      </div>
      <div class="card__label">
        <span>Theme Switch Angular</span>
      </div>
    </a>
  </div>
  <div class="card" appOrdering order="2021-03-23">
    <a href="https://angular-login-new.vercel.app/" target="_blank">
      <div class="eight">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/angular-login-new" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          23-03-2021
        </div>
      </div>
      <div class="card__label">
        <span>Angular Login New</span>
      </div>
    </a>
  </div>
  <div class="card" appOrdering order="2021-03-16">
    <a href="https://loop-studios-angular.vercel.app/" target="_blank">
      <div class="nine">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/loop-studios-angular" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          16-03-2021
        </div>
      </div>
      <div class="card__label">
        <span>Loop Studios Angular</span>
      </div>
    </a>
  </div>
  <div class="card" appOrdering order="2021-03-12">
    <a href="https://angular-price-io.vercel.app/" target="_blank">
      <div class="ten">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/angular-price-io" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          12-03-2021
        </div>
      </div>
      <div class="card__label">
        <span>Angular Price Io</span>
      </div>
    </a>
  </div>
  <div class="card" appOrdering order="2021-03-10">
    <a href="https://angular-paligo.vercel.app/" target="_blank">
      <div class="eleven">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/angular-paligo" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          10-03-2021
        </div>
      </div>
      <div class="card__label">
        <span>Angular Paligo</span>
      </div>
    </a>
  </div>
  <div class="card" appOrdering order="2021-02-25">
    <a href="https://yelp-angular-firebase.vercel.app/" target="_blank">
      <div class="twelve">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/yelp-angular-firebase" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          25-02-2021
        </div>
      </div>
      <div class="card__label">
        <span>Yelp Angular Firebase</span>
      </div>
    </a>
  </div>
  <div class="card" appOrdering order="2021-02-25">
    <a href="https://routing-app-phi.vercel.app/" target="_blank">
      <div class="thirteen">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/routing-app" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          25-02-2021
        </div>
      </div>
      <div class="card__label">
        <span>Routing App</span>
      </div>
    </a>
  </div>
  <div class="card" appOrdering order="2021-02-17">
    <a href="https://angular-firebase-lilac.vercel.app/" target="_blank">
      <div class="fourteen">
        <div class="card__container__git__hub">
          <a href="https://github.com/John9927/Angular-Firebase" target="_blank">
            <div class="card__git__hub"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="card__date__container">
          17-02-2021
        </div>
      </div>
      <div class="card__label">
        <span>Angular Firebase</span>
      </div>
    </a>
  </div>
</div>
