<div class="header__container">
  <div class="header__items">
    <div class="header__logo">
      <a class="logo" href="./dashboard"><i class="fas fa-blog"></i></a>
      <!-- Search -->
      <div class="header__search">
        <div style="cursor: pointer;" (click)="onClickSearch()">
          <i class="fas fa-search"></i>
        </div>
      </div>
      <!-- Filter -->
      <div class="filter__container">
        <div style="cursor: pointer;" (click)="onClickFilter()">
          <i class="fas fa-filter"></i>
        </div>
      </div>
      <div class="header__item">
        <div (click)="modal()">
          <i class="fas fa-sign-out-alt"></i>
        </div>
      </div>
      <div class="header__item">
        <a href="/upload">
          <i class="fas fa-cloud-upload-alt"></i>
        </a>
      </div>
  </div>
</div>

<!-- Modal Logout -->
<div id="check__logout__container">
  <div class="check__logout">
    <div style="display: flex; justify-content: center; width: 100%;">
      <h1> Sei sicuro di voler uscire?</h1>
    </div>
    <div style="display: flex; justify-content: center;">
      <button class="button__modal__logout" (click)="onClickNo()">
        <span class="button__modal__label">NO</span></button>
      <button class="button__modal__logout" (click)="logout()">
        <span class="button__modal__label">SI</span>
      </button>
    </div>
  </div>
</div>

<!-- Search -->
<div id="search__container">
  <div id="search">
    <form [formGroup]="inputText" style="width: 100%;">
      <input formControlName="text" id="input__search" autocomplete="off" type="text" placeholder="Search..."
        (keyup)="applyFilter($event)">
    </form>
    <div class="search__close">
      <div (click)="onClickClose()">
        <i class="far fa-times-circle"></i>
      </div>
    </div>
  </div>
</div>
