<div class="header__container">
  <div class="header__items">
    <div class="header__logo">
      <a class="logo">LOGO</a>
      <div class="header__search">
        <div style="cursor: pointer;" (click)="onClickSearch()">
          <i class="fas fa-search"></i>
        </div>
      </div>
      <!-- Filter -->
      <div class="filter__container" (click)="onClickFilter()">
        <div class="filter">
          <i class="fas fa-filter"></i>
        </div>
      </div>
      <div class="header__item">
        <a (click)="logout()" class="item" style="font-weight: bold">Logout</a>
      </div>
    </div>
  </div>
</div>


<!-- Search -->
<div id="search__container">
  <div id="search">
    <form [formGroup]="inputText" style="width: 100%;">
      <input formControlName="text" id="input__search" autocomplete="off" type="text" placeholder="Search..."
        (keyup)="applyFilter($event)">
    </form>
    <div class="search__close">
      <div (click)="onClickClose()">
        <i class="far fa-times-circle"></i>
      </div>
    </div>
  </div>
</div>
