<app-header></app-header>

<div class="card-body">
  <div class="card">
    <h5 class="card-title">Select a file for upload:</h5>
    <div class="input-file">
      <input type="file" (change)="upload($event)" accept=".png,.jpg" />
    </div>
    <br><br>
    <div class="progress">
      <progress max="100" [value]="(uploadProgress | async)"></progress>
    </div>
    <br><br>
    <div class="div__download__url" *ngIf="downloadURL | async; let downloadSrc" role="alert">
      <span class="file__span">File uploaded: </span> <a [href]="downloadSrc">{{downloadSrc}}</a>
    </div>
  </div>
</div>
