<div class="card__container">
  <div class="card">
    <a href="" target="_blank">
      <div style="position: relative;">
        <img class="one">
        <div class="card__container__git__hub">
          <a class="git__hub" href="" target="_blank">
            <div class="card__git__hub"></div>
          </a>
        </div>
        <div class="card__date__container">
        </div>
      </div>
      <div class="card__label__container">
        <span class="card__label"></span>
      </div>
    </a>
  </div>
  <div class="card">
    <a href="" target="_blank">
      <div style="position: relative;">
        <img class="one">
        <div class="card__container__git__hub">
          <a class="git__hub" href="" target="_blank">
            <div class="card__git__hub"></div>
          </a>
        </div>
        <div class="card__date__container">
        </div>
      </div>
      <div class="card__label__container">
        <span class="card__label"></span>
      </div>
    </a>
  </div>
  <div class="card">
    <a href="" target="_blank">
      <div style="position: relative;">
        <img class="one">
        <div class="card__container__git__hub">
          <a class="git__hub" href="" target="_blank">
            <div class="card__git__hub"></div>
          </a>
        </div>
        <div class="card__date__container">
        </div>
      </div>
      <div class="card__label__container">
        <span class="card__label"></span>
      </div>
    </a>
  </div>
  <div class="card">
    <a href="" target="_blank">
      <div style="position: relative;">
        <img class="one">
        <div class="card__container__git__hub">
          <a class="git__hub" href="" target="_blank">
            <div class="card__git__hub"></div>
          </a>
        </div>
        <div class="card__date__container">
        </div>
      </div>
      <div class="card__label__container">
        <span class="card__label"></span>
      </div>
    </a>
  </div>
  <div class="card">
    <a href="" target="_blank">
      <div style="position: relative;">
        <img class="one">
        <div class="card__container__git__hub">
          <a class="git__hub" href="" target="_blank">
            <div class="card__git__hub"></div>
          </a>
        </div>
        <div class="card__date__container">
        </div>
      </div>
      <div class="card__label__container">
        <span class="card__label"></span>
      </div>
    </a>
  </div>
  <div class="card">
    <a href="" target="_blank">
      <div style="position: relative;">
        <img class="one">
        <div class="card__container__git__hub">
          <a class="git__hub" href="" target="_blank">
            <div class="card__git__hub"></div>
          </a>
        </div>
        <div class="card__date__container">
        </div>
      </div>
      <div class="card__label__container">
        <span class="card__label"></span>
      </div>
    </a>
  </div>
  <div class="card">
    <a href="" target="_blank">
      <div style="position: relative;">
        <img class="one">
        <div class="card__container__git__hub">
          <a class="git__hub" href="" target="_blank">
            <div class="card__git__hub"></div>
          </a>
        </div>
        <div class="card__date__container">
        </div>
      </div>
      <div class="card__label__container">
        <span class="card__label"></span>
      </div>
    </a>
  </div>
  <div class="card">
    <a href="" target="_blank">
      <div style="position: relative;">
        <img class="one">
        <div class="card__container__git__hub">
          <a class="git__hub" href="" target="_blank">
            <div class="card__git__hub"></div>
          </a>
        </div>
        <div class="card__date__container">
        </div>
      </div>
      <div class="card__label__container">
        <span class="card__label"></span>
      </div>
    </a>
  </div>
  <div class="card">
    <a href="" target="_blank">
      <div style="position: relative;">
        <img class="one">
        <div class="card__container__git__hub">
          <a class="git__hub" href="" target="_blank">
            <div class="card__git__hub"></div>
          </a>
        </div>
        <div class="card__date__container">
        </div>
      </div>
      <div class="card__label__container">
        <span class="card__label"></span>
      </div>
    </a>
  </div>
</div>
