<!-- Header -->
<app-header></app-header>

<!-- Filter -->
<div id="open__filter__container">
  <div id="open__filter">
    <div class="container__filter" id="container__filter">
      <button (click)="onClickNome()" class="button__filter">
        <span class="filter__nome">NOME</span>
        <i class="fas fa-sort-alpha-up"></i>
      </button>
      <button class="button__data" (click)="getData()">
        <div style="display: flex;">
          <i class="fas fa-table"></i>
          <i class="fas fa-sort-down"></i>
        </div>
      </button>
      <button class="button__data" (click)="onClickDark()">
        <span class="filter__nome">DARK</span>
        <i class="fas fa-moon"></i>
      </button>
    </div>
    <div class="search__close">
      <div style="margin: 4px 0px;" (click)="onClickClose()">
        <i class="far fa-times-circle"></i>
      </div>
    </div>
  </div>
</div>

<!-- Card -->
<div class="card__container" id="card__container" *ngIf="siteWeb else template">
  <ng-container *ngFor="let site of firestoreData | async">
    <div class="card" *ngIf="site.nome.startsWith(auth.inputText.charAt(0).toUpperCase() + auth.inputText.slice(1))">
      <a>
        <div>
          <img class="one" src="{{site.img}}">
          <div class="card__container__git__hub">
            <a class="git__hub" href="{{site.urlGit}}" target="_blank">
              <div class="card__git__hub"><i class="fab fa-github"></i></div>
            </a>
          </div>
          <div class="card__date__container">
            {{site.date}}
          </div>
        </div>
        <div class="card__label">
          <span>{{site.nome}}</span>

          <div class="iconTrash">
            <span (click)="deleteTutorial(site.id)">
              <i class="far fa-trash-alt"></i>
            </span>
          </div>
        </div>
      </a>
    </div>
  </ng-container>
</div>
<ng-template #template>
  <app-loading></app-loading>
</ng-template>


